<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Firefox" version="3.6.6" targetFramework="net452" />
  <package id="Microsoft.Office.Interop.Excel" version="15.0.4795.1000" targetFramework="net452" />
  <package id="PhantomJS" version="2.1.1" targetFramework="net452" />
  <package id="Selenium.Firefox.WebDriver" version="0.19.0" targetFramework="net452" />
  <package id="Selenium.Support" version="3.6.0" targetFramework="net452" />
  <package id="Selenium.WebDriver" version="3.6.0" targetFramework="net452" />
</packages>